{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Nathan Geffen"/>
    <meta name="description" content="microsimulator of epidemics"/>
    <meta name="keywords" content="microsimulator, epidemiology, epidemic, simulator"/> 
    <title>{% block title %}{% trans "Microsimulator" %}{% endblock %}</title>

{% block header %}

{% endblock %}

</head>

<body>

{% block content %}

<div id="wrapper">

<div id="header">

<h1>Microsimulator</h1>

</div>

<div id="content">

</div>

</div>

{% endblock %}

</body>


